.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid blue;
  margin: 8% 12%;
}

/* h2 {
  margin: 1rem 0rem;
} */

span {
  display: block;
}

.link {
  color: black;
  text-decoration: none;
}
