.navbar {
  display: flex;
  border: 1px solid red;
}

.navbar-left {
  display: flex;
  display: inline-block;
  justify-content: flex-start;
  width: 50%;
}

.navbar-right {
  display: flex;
  display: inline-block;
  width: 50%;
}

ul {
  display: flex;
}

li {
  list-style: none;
  margin: 0% 3%;
}

/* .navbar-right ul {
  vertical-align: middle;
  text-align: center;
} */

.navbar-right li {
  float: right;
  display: flex;
}

.nav-item {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-item li {
  padding: 0% 7%;
}

.icon {
  margin: 0% 3%;
}

.logo {
  width: 132px;
  height: 40px;
}
